/* Estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121212;
    color: #eee;
    font-family: 'Poppins', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2.0;
}

/* Contenedor para centrar contenido */
.container {
    width: 100%;
    max-width: 1500px;
    margin: 1rem auto;
}

/* Nav */
.nav {
    background: #161616;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    font-size: 2rem;
    color: #c21414;
    font-weight: bold;
}

.logoimg {
    margin-right: 10px;
    height: 60px;
    width: auto;
}
  
.menu-toggle {
    display: none;
}
  
nav {
    display: flex;
}
  
nav a {
    margin: 0 1rem;
    color: #eee;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
  
nav a:hover {
    color: #ED1A1A;
    transform: translateY(-2px);
}
  
/* HERO */
.hero {
    background: url('img/hero-bg.jpg') center/cover no-repeat;
    padding: 6rem 1rem;
    text-align: center;
    color: #fff;
}
  
.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
  
.hero p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
  
/* SECCIONES */
.section {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
  
/* PRODCUTOS */
.h2_prod{
    font-size: 50px;
}

.prod-carousel {
    display: flex;
    overflow-x: auto;
    overflow: visible;
    gap: 1rem;
    padding: 1rem 0;
    scroll-behavior: smooth;
}
  
.prod-card {
    min-width: 260px;
    background: #222;
    color: #eee;
    border-radius: 10px;
    padding: 1rem;
    flex-shrink: 0;
    transition: all 0.3s ease;
}
  
.prod-card img {
    width: 100%;
    max-width: 280px;
    max-height: 180px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}
  
.prod-card h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
  
.prod-card p {
    font-size: 0.9rem;
    margin: 0.4rem 0;
}
  
.prod-card a {

    margin-top: 0.5rem;
    color: #121212;
    text-decoration: none;
    font-weight: 600;
}

.cta-button {
    background: linear-gradient(180deg, #ED1A1A, #830606);
    color: #121212;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.cta-button:hover {
    background: linear-gradient(180deg, #b41313, #490303);
    color: #121212 ;
    transition: background-color 5s ease ;
}

.offer_title{
    text-align: center;
}
  
.prod-card a:hover {
    text-decoration: underline;
}
  
.prod-card:hover {
    box-shadow: 0 4px 20px rgba(212, 21, 21, 0.4);
    transform: translateY(-20px);
}

/* FOOTER */
.footer {
    background: #111;
    color: #888;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
 }
  
.footer .footer-links a,
.footer .social a {
    margin: 0 0.5rem;
    color: #888;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
  
.footer .footer-links a:hover,
.footer .social a:hover {
    color: #eee;
}
  
/* Responsive */
@media (max-width: 768px) {
    .nav .container {
      flex-direction: column;
      align-items: flex-start;
    }
    nav {
      display: none;
      width: 100%;
      flex-direction: column;
      margin-top: 0.5rem;
    }
    nav.active {
      display: flex;
    }
    nav a {
      margin: 0.5rem 0;
    }
    .menu-toggle {
      display: block;
      cursor: pointer;
      color: #ED1A1A;
      font-size: 1.5rem;
      user-select: none;
    }
    .prod-carousel{
      grid-template-columns: 1fr !important;
      flex-direction: column;
    }
}  